{% extends "base.html" %}
{% block body %}
<div class="app" data-signals='{"tab": "overview"}' data-init="@get('/sse')">
  <header class="app-header">
    <h1>Selectronics Manager</h1>
    <div id="header-meta" class="header-meta">
      {% include "partials/header.html" %}
    </div>
  </header>

  <div id="alarm-banner">
    {% include "partials/alarm_banner.html" %}
  </div>

  <nav class="tab-nav">
    <button class="tab-btn" data-class:active="$tab === 'overview'" data-on:click="$tab = 'overview'">Overview</button>
    <button class="tab-btn" data-class:active="$tab === 'battery'" data-on:click="$tab = 'battery'">Battery</button>
    <button class="tab-btn" data-class:active="$tab === 'solar'" data-on:click="$tab = 'solar'">Solar</button>
    <button class="tab-btn" data-class:active="$tab === 'load'" data-on:click="$tab = 'load'">Load</button>
    <button class="tab-btn" data-class:active="$tab === 'generator'" data-on:click="$tab = 'generator'">Generator</button>
    <button class="tab-btn" data-class:active="$tab === 'temperatures'" data-on:click="$tab = 'temperatures'">Temperatures</button>
    <button class="tab-btn" data-class:active="$tab === 'alarms'" data-on:click="$tab = 'alarms'">Alarms</button>
  </nav>

  <div data-class:hidden="$tab !== 'overview'" id="tab-overview">
    {% include "partials/overview.html" %}
  </div>
  <div data-class:hidden="$tab !== 'battery'" id="tab-battery">
    {% include "partials/battery.html" %}
  </div>
  <div data-class:hidden="$tab !== 'solar'" id="tab-solar">
    {% include "partials/solar.html" %}
  </div>
  <div data-class:hidden="$tab !== 'load'" id="tab-load">
    {% include "partials/load.html" %}
  </div>
  <div data-class:hidden="$tab !== 'generator'" id="tab-generator">
    {% include "partials/generator.html" %}
  </div>
  <div data-class:hidden="$tab !== 'temperatures'" id="tab-temperatures">
    {% include "partials/temperatures.html" %}
  </div>
  <div data-class:hidden="$tab !== 'alarms'" id="tab-alarms">
    {% include "partials/alarms.html" %}
  </div>
</div>
{% endblock %}
